
profiles {
    docker {
        enabled = true
        // Tell Nextflow to use Docker for process execution        
        runOptions = '--rm'          // Remove container after running
        runOptions = '--pull=always'
    }

    process {
        withName:DOWNLOAD_REFERENCE {
            container = 'curlimages/curl:latest'
        }
        withName:FASTP_QC {
            container = 'quay.io/biocontainers/fastp:0.23.2--h0b8a92a_1'
        }
        withName:ALIGN_BWA {
            container = 'quay.io/biocontainers/bwa:0.7.17--hed695b0_7'
        }
        withName:MARKDUP_BQSR {
            container = 'broadinstitute/gatk:4.2.6.1'
        }
        withName:MUTECT2_CALL {
            container = 'broadinstitute/gatk:4.2.6.1'
        }
        withName:PCGR_ANNOTATE {
            container = 'sigven/pcgr:latest'
        }
        executor = 'local'
    }
}