
docker {
    enabled = true
    // Tell Nextflow to use Docker for process execution        
    runOptions = '--rm'          // Remove container after running
    runOptions = '--pull=always'
    runOptions = '--memory="20g"'
}

process {
    //withName:CURL_REFERENCE {
     //   container = 'quay.io/biocontainers/curl:8.12.1'
    //}
    withName:INDEX_REFERENCE {
        container = 'quay.io/biocontainers/samtools:1.3.1--h60f3df9_12'
    }    
    withName:DICT_REFERENCE {
        container = 'quay.io/biocontainers/gatk4:4.6.1.0--py310hdfd78af_0'
        containerOptions = '-m 20G'
    }
    withName:FASTP_QC {
        container = 'quay.io/biocontainers/fastp:0.24.0--heae3180_1'
    }
    withName:ALIGN_BWA {
        container = 'quay.io/biocontainers/bwa:0.7.3a--h577a1d6_10'
        containerOptions = '--memory="20g"'
    }
    withName:SAMTOOLS {
       container = 'quay.io/biocontainers/samtools:1.3.1--h60f3df9_12'
    }
    withName:MARKDUP_BQSR {
        container = 'quay.io/biocontainers/gatk4:4.6.1.0--py310hdfd78af_0'
        containerOptions = '--memory="20g"'
    }
    withName:MUTECT2_CALL {
        container = 'quay.io/biocontainers/gatk4:4.6.1.0--py310hdfd78af_0'
        containerOptions = '--memory="20g"'
    }
    withName:PCGR_ANNOTATE {
        container = 'sigven/pcgr:2.1.2.9001'
        containerOptions = '--memory="20g"'
    }
    executor = 'local'
}
